@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* something you can't do with tailwind that's why I another classes exists here */
  --primary: #202020;
  --secondary: rgb(197 197 197);
  --cta: #c15dff;
}

@layer components {
  .line {
    @apply border-r-[1px] border-solid border-secondary;
    border-image: linear-gradient(to bottom, var(--primary), var(--secondary), var(--primary)) 1 100%;
  }

  .text-shadow::before {
    @apply absolute text-transparent z-10;
    content: attr(data-text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .text-shadow::after {
    @apply text-transparent;
    content: attr(data-text);
    text-shadow: 0px 0px 0px var(--secondary), 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-tooltip::before {
    @apply absolute text-transparent z-10;
    content: attr(data-text);
    text-shadow: 0px 0px 4px rgba(193, 93, 255, 0.2);
  }
  .text-tooltip::after {
    @apply text-transparent;
    content: attr(data-text);
    text-shadow: 0px 0px 0px var(--secondary), 2px 2px 4px rgba(193, 93, 255, 0.2);
  }

  .tooltip:hover .tooltiptext {
    @apply opacity-100 visible transition-all duration-300
    translate-y-[-105%] 
    whitespace-nowrap w-auto h-auto p-sm text-secondary z-[99];
  }

  .tooltiptext {
    @apply opacity-0 invisible transition-all duration-300
    fixed top-[50%] translate-y-[110%]
    laptop:absolute laptop:top-[0px] left-[50%] translate-x-[-45%] laptop:translate-y-[-110%]
    text-sm bg-primary-dark
    text-center rounded-sm z-[99];
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  min-height: 100vh;
}

.active {
  /* cta */
  background-color: var(--cta);
}
